### 실습 설명

1 이상 100 이하의 자연수(수나 순서를 셀 때 쓰는 1, 2, 3 과 같은 수) 중 3의 배수만 담겨 있는 numpy array를 생성하고 출력해 주세요.

In [1]:
import numpy as np

arr = np.arange(3, 100, 3)

arr

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51,
       54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

___
### array의 인덱싱과 슬라이싱

리스트처럼 인덱싱도 할 수 있다

살짝 다른건 인덱스에 리스트를 집어 넣을 수도 있다는 것이다

In [3]:
arr[2]

99

In [4]:
arr[-1]

99

In [5]:
arr[[3, 9, 17]]

array([12, 30, 54])

심지어 이런 복잡한 것도 가능하다 리스트를 집어 넣는 것이 아니라 array를 집어 넣는 것...

In [6]:
array1 = [4, 5, 19, 26]
arr[array1]

array([15, 18, 60, 81])

array는 슬라이싱도 할 수가 있다 ㅎㄷㄷ

In [7]:
arr[3:23]

array([12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60,
       63, 66, 69])

array는 리스트와는 다르게 슬라이싱 할 때 뛰어넘기가 가능하다

In [8]:
arr[3:23:2]

array([12, 18, 24, 30, 36, 42, 48, 54, 60, 66])

___
### numpy의 기본 연산

리스트의 값들을 모두 * 2 하고 싶다면 리스트는 이렇게 해야한다

In [9]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in list1:
    list1[i] = 2 * list1[i]
    
list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

그러나 array는 다르다

In [10]:
arr * 2

array([  6,  12,  18,  24,  30,  36,  42,  48,  54,  60,  66,  72,  78,
        84,  90,  96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156,
       162, 168, 174, 180, 186, 192, 198])

이거면 끝난다