# pandas 실습

,KBS,MBC,SBS,TV CHOSUN,JTBC,Channel A,MBN

2011,35.951,18.374,11.173,9.102,7.38,3.771,2.809

2012,36.163,16.022,11.408,8.785,7.878,5.874,3.31

2013,31.989,16.778,9.673,9.026,7.81,5.35,3.825

2014,31.21,15.663,9.108,9.44,7.49,5.776,4.572

2015,27.777,16.573,9.099,9.94,7.267,6.678,5.52

2016,27.583,14.982,8.669,9.829,7.727,6.624,5.477

2017,26.89,12.465,8.661,8.886,9.453,6.056,5.215

이런 csv파일이 있다고 했을 때

___
**2016년도에 KBS방송국의 시청률을 찾아봅시다**

In [ ]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col = 0)

df.loc[2016, 'KBS']

pandas를 pd로 불러오고

pd.read_csv로 값을 리턴한(index_col = 0으로 column에 숫자가 들어가는 것을 막아주고) 후에

.loc[row, column]으로 위치를 정해서 출력한다

여기서 2016은 문자열이 아닌 숫자로 해주는 것이 포인트이다

___
**JTBC의 시청률을 확인하려면 어떻게 해야 할까요?**

In [ ]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

df.loc[:, 'JTBC']

이런 식으로 :을 써주면 된다

___
**SBS와 JTBC의 시청률만 확인하려면 어떻게 하면 될까요?**

In [ ]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

df[['SBS', 'JTBC']]

.loc이 아니더라도 그냥 판다스가 저장되어있는 변수에 리스트를 파라미터로 넣으면 된다

___
데이터의 중요성을 깨달은 “삼송카드”와 “현디카드”가 협업을 하기로 결정했습니다.

두 카드사는 사람들이 요일별로 지출하는 평균 금액을

“요일”, “식비", “교통비”, “문화생활비”, “기타” 카테고리로 정리해서 우리에게 공유해 주기로 했는데요.

각각 samsong.csv 파일과 hyundee.csv 파일을 보냈습니다.

두 회사의 데이터를 활용해서, 사람들의 요일별 문화생활비를 분석해보려 합니다.

**아래와 같은 형태로 출력이 되도록 DataFrame을 만들어보세요**

   `day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925`

어캐하지

일단 문화생활비만 뽑아오는 것과 날짜를 뽑아오는 것은 가능하다

그런데 column 이름을 samsong으로 바꾸어야 하는 것이 걸린다

아마 판다스를 새로 작성해야 할 것 같다

판다스를 작성하는 게 pd.write였던 걸로 기억하는데...

...모르겠다

___
*힌트 2*

*DataFrame을 만드는 방법으로는 여러 가지가 있습니다. 파이썬 사전(Dictionary)을 활용해 보세요.*

*파이썬 사전은 아래와 같은 형태로 만들 수 있습니다.*


*names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]*

*dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}*
___

우선 기억이 안나는데 왠지 name, english_score, math_score 이 셋이 하나의 column이 될 것 같다

In [ ]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

day = samsong_df.loc[:, 'day']
samsong = samsong_df.loc[:, '문화생활비']
hyundee = hyundee_df.loc[:, '문화생활비']

result_dict = {
    'day': day
    'samsong': samsong
    'hyundee': hyundee
}

result = pd.write(result_dict)

result

왜 안되는 거지... 뭔가 계속 불러오기만 배우다가 

갑자기 작성하는 것을 해야하니까 어지럽다...

아 이거 전에 배웠던 DataFrame이네

In [ ]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

day = samsong_df.loc[:, 'day']
samsong = samsong_df.loc[:, '문화생활비']
hyundee = hyundee_df.loc[:, '문화생활비']

result_dict = {
    'day': day
    'samsong': samsong
    'hyundee': hyundee
}

result = pd.DataFrame(result_dict columns = ['day', 'samsong', 'hyundee'])

result

In [ ]:
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

day = samsong_df.loc[:, '요일']
samsong = samsong_df.loc[:, '문화생활비']
hyundee = hyundee_df.loc[:, '문화생활비']

result_dict = {
    'day': day,
    'samsong': samsong,
    'hyundee': hyundee
}

result = pd.DataFrame(result_dict columns = ['day', 'samsong', 'hyundee'])

result

사전에 콤마도 안쓰고 콜롬도 요일인데 day라고 써서 오류가 났음